@using Interfaces
@inject ISecurityService _securityService
@inject ISettingsService _settingsService
@inject IJSRuntime JSRuntime

<div>
    <div>Please login using one the following provider</div>
    <button id=@googleSignInButtonId class="btn btn-primary">Google</button>
</div>

@code {
    private readonly string googleSignInButtonId = "google-sign-in-button";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync(
                "renderGoogleButton", _settingsService.GoogleCredentials.ClientId, googleSignInButtonId);
        }
    }
}