@using Models.Enums
@using Interfaces
@inject ISecurityService _securityService
@inject ISettingsService _settingsService

<div>
    <div>Please login using one the following provider</div>
    <button class="btn btn-primary" @onclick="GoogleAuthentication">Google</button>
</div>

@code {
    private void GoogleAuthentication()
    {
        _securityService.RedirectToLogin(AuthenticationProvider.Google);
    }
}